@import "./variables.scss";

.btn-primary {
  background: unset;
  background-color: $button-primary;
  border: none;
  &:first-child:hover {
    background-color: $button-primary-hover;
    border: none;
  }
}

:not(.btn-check) + .btn:hover {
  background-color: $button-primary-hover;
  border: none;
}

// .btn-secondary {
//   background-color: $button-secondary;
//   border: none;
// }

.btn-success {
  background-color: $button-success;
  border: none;
  color: black;
  &:first-child:hover {
    background-color: $button-success-hover;
    border: none;
  }
}

.btn-warning {
  background-color: $button-warning;
  border: none;
  color: white;
  &:first-child:hover {
    background-color: $button-warning-hover;
    border: none;
    color: white;
  }
}
