@import "./Variables.scss";

.btn-custom {
  border: none;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  color: white;
  &:hover {
    // background-color: $button-hover;
    // border: 8px solid;
    // border-color:  gold;
    // color: grey;

    // #1 full button grey outline
    // box-shadow: 0px 0px 5px 5px silver;

    //#2
    //add plant button - change colour
    // background-color: #8CAC3B;
    //view plant - change colour
    // background-color: #1c7e42;

    //#3 off-kilter outline blur
    // box-shadow: 8px 8px 15px lightgreen;

    //#4 adjust brightness
    filter: brightness(0.9);
  }
}

.btn-garden {
  margin: 0 0.5rem 0 0.5rem;
  width: 200px;
}
.btn-view-plant {
  background-color: $button-view-plant;
}

.btn-add-plant {
  background-color: $button-add-plant;
}

.btn-water-plant {
  background-color: $button-water-plant;
}

.btn-water-warning {
  background-color: $button-water-warning;
}

.btn-water-success {
  background-color: $button-watered;
}

.btn-delete {
  background-color: $button-delete;
}

//-bs-btn-padding-x: 0.75rem;
// --bs-btn-padding-y: 0.375rem;

// .btn-primary {
//   background: unset;
//   background-color: $button-primary;
//   border: none;
//   &:first-child:hover {
//     background-color: $button-primary-hover;
//     border: none;
//   }
// }

// :not(.btn-check) + .btn:hover {
//   background-color: $button-primary-hover;
//   border: none;
// }

// // .btn-secondary {
// //   background-color: $button-secondary;
// //   border: none;
// // }

// .btn-success {
//   background-color: $button-success;
//   border: none;
//   color: black;
//   // &:first-child:hover {
//   //   background-color: $button-success-hover;
//   //   border: none;
//   // }
// }

// .btn-warning {
//   background-color: $button-warning;
//   border: none;
//   color: white;
//   // &:first-child:hover {
//   //   background-color: $button-warning-hover;
//   //   border: none;
//   //   color: white;
//   // }
// }
