@import "./Variables.scss";

// .lcm-photo {
//   padding-top: 3%;
// }

// .lcm-info {
//   width: 40%;
// }

.card-lrg {
  background-color: $light-grey-background;
  .photo {
    padding-top: 3%;
    padding-right: 3%;
    width: 60%;
  }
  .info {
    width: 40%;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
  }
}

.lcu-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
