.lcu-container {
  padding-top: 5%;
}

.lcu-info {
  width: 40%
}

.lcu-data {
  display: flex;
  justify-content: space-between;
}

.lcu-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}