@import "./Variables.scss";

.custom-navbar {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.22);
}

.navbar-scroll {
  background-color: $navbar-background;
}

.nav-text {
  color: black;
  font-weight: 600;
  font-size: larger;
  &:hover {
    color: grey;
  }
}

.nav-link-selected {
  color: white;
}
