// variables ideas
//do we want to change the font?
// button-delete-plant
// button-submit-form
// button-close-modal

//do we want navtext to change on scroll?

$button-hover: #d9d9d9;
$button-view-plant: #208d4a;
$button-add-plant: #9cc042;
$button-water-plant: #298fcf;
$button-water-warning:#ffcc00;
$button-watered: green;
$button-delete: #dc3545;

$navbar-background: #ffb72b;
$warning-background: red;
$weather-card: grey;

$light-grey-background: #F7F7F7;
//good gree: $button-primary: #208d4a;
// $navbar-background: #ffb72b;
//$button-success: #187498;
// $button-primary: #45a05c;
// $button-success: #61baad;
//$button-success: #006b60;
// $button-water-plant: #f9d923;
//nice light blue #ABC7FF
//darker blue $button-add-plant: #20638d;
