// variables ideas
//do we want to change the font?
// button-delete-plant
// button-submit-form
// button-close-modal

//do we want navtext to change on scroll?

$button-primary-hover: #a020f0;
$button-primary: #208d4a;
$button-success-hover: #a020f0;
$button-success: #ffb72b;
$button-warning-hover: #a020f0;
$button-warning: #f9d923;

//might not want to change core styling?
$button-secondary-hover: #a020f0;
$button-secondary: #00a6ed;

$navbar-background: #ffb72b;
$warning-background: red;
$weather-card: grey;

//good gree: $button-primary: #208d4a;
// $navbar-background: #ffb72b;
//$button-success: #187498;
// $button-primary: #45a05c;
// $button-success: #61baad;
//$button-success: #006b60;